In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/content/Iris.csv')

In [3]:
print("Original Data:")
print(df.head())

Original Data:
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df_cleaned = df.dropna()

In [5]:
df_cleaned = df_cleaned.drop_duplicates()

In [7]:
df_cleaned['SepalLengthCm'] = pd.to_numeric(df_cleaned['SepalLengthCm'], errors='coerce')

In [10]:
df_cleaned = df_cleaned[np.abs(df_cleaned['SepalLengthCm'] - df_cleaned['SepalLengthCm'].mean()) <= (3 * df_cleaned['SepalLengthCm'].std())]

In [16]:
df_cleaned = pd.get_dummies(df_cleaned, columns=['Species'])

In [17]:
print("\nCleaned Data:")
print(df_cleaned.head())

Cleaned Data:
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2
3   4            4.6           3.1            1.5           0.2
4   5            5.0           3.6            1.4           0.2

   Species_Iris-setosa  Species_Iris-versicolor  Species_Iris-virginica
0                 True                    False                   False
1                 True                    False                   False
2                 True                    False                   False
3                 True                    False                   False
4                 True                    False                   False

In [18]:
df_cleaned.to_csv('cleaned_dataset.csv', index=False)